.idea
.gradle
build
app/build
local.properties
app/app.iml
baselib/build
baselib/baselib.iml
Store.iml
baselib/build
livenesslib/build
IDCardLib/build
IDCardLib/IDCardLib.iml
UdeskSDKUI/UdeskSDKUI.iml
bankCardLib/bankCardLib.iml
